.rdf_table {
    background-color: #eee;
    margin-top: 40px;
    margin-bottom: 40px;
}
.rdf_table_nested {
    background-color: #eee;
}
.rdf_prop {
    font-weight: bold;
    width: 180px;
}
.rdf_table td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 120%;
}
.rdf_embedded_table {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.rdf_embedded_table td {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 110%;
}
.panel-default {
    margin-bottom: 0px;
    border-bottom: 0px;
}
.panel-heading {
    font-size: 140%;
    font-weight: bold;
}
.rdf_table_nested td{
    padding-left: 2px;
}
.rdf_table td.rdf_value {
    min-width: 350px;
}
.rdf_subheader {
    text-transform: uppercase;
    font-weight: bold;
    word-wrap:break-word;
}
.rdf_subsection {
    border-top: 2px solid #ddd;
    padding-top: 1em;
}
.rdf_table_nested tr:hover {
    background-color: #ddd;
}
.rdf_table tr:hover {
    background-color: #ddd;
}
.rdf_header h1 {
    font-weight: bold;
}
.rdf_header {
    border-bottom: 1px solid #eee;
    margin-top: 30px;
    overflow: hidden;
    word-wrap: break-word;
}
.rdf_classof {
    font-style: italic;
}
.rdf_datatype a {
    font-size: 80%;
    font-style: italic;
    color: #333;
}
a.anchor {
    display: block; 
    position: relative; 
    top: -150px; 
    visibility: hidden;
}
div.footer_link {
    border-right: 1px solid #ccc;
    text-align: right;
}
a.footer_link {
    font-variant: small-caps;
    font-weight: bold;
}
.more img {
    height: 16px;
    padding-left: 2px;
}

