<html>
    <head>
        <title>Listing resources</title>
    </head>
    <body>
        <div class="container">
            <h1>Index</h1>
            <div class="row">
                <div class="col-lg-2">
                    <h4>List by:</h4>
                    <div class="list-group">
                        {{#facets}}
                        <a href='{{context.getContextPath()}}/list/?prop={{uri_enc}}&amp;{{qsb}}' class="list-group-item active rdf_link">{{label}}</a>
                        {{#values?}}
                            <div class="list-group">
                        {{/values?}}
                            {{#values}}
                            <a href="{{context.getContextPath()}}/list?{{link_qs}}" class="list-group-item {{#selected}}selected{{/selected}}" style="word-wrap:break-word;">{{value}} ({{count}}) 
                            {{#selected}}<span class="badge">&#215;</span>{{/selected}}
                            {{^selected}}<span class="badge badge_hidden">+</span>{{/selected}}
                            </a>
                            {{/values}}
                            {{#more_values}}
                            <a href="{{context.getContextPath()}}/list/?prop={{uri_enc}}&amp;obj_offset={{more_values}}&amp;{{qsb}}" class="list-group-item">More values...</a>
                            {{/more_values}}
                            {{#values?}}
                            </div>
                        {{/values?}}
                        {{/facets}}
                    </div>
                </div>
                <div class="col-lg-10">
                        {{#results}}
                            <div class="panel panel-default rdf_embedded_table">
                            <div class="panel-heading rdf_embedded_table_heading"><a href="{{link}}" class="rdf_link">{{title}}</a></div>
                            <table class="panel-body">
                                {{#model}}
                                <tr>
                                    <td class="rdf_prop">
                                        {{#prop}}
                                        <a href="{{link}}" class="rdf_link">{{display}}</a>
                                        {{/prop}}
                                    </td>
                                    <td class="rdf_value">
                                        {{#obj}}
                                        {{#uri}}
                                        <a href="{{link}}" class="rdf_link">{{display}}</a>
                                        {{/uri}}
                                        {{#literal}}
                                        {{display}}
                                        {{#type}}<a href="{{link}}" class="rdf_type">{{display}}</a>{{/type}}
                                        {{#language}}<img class="rdf_lang" src="{{context.getContextPath()}}/assets/flag/{{language}}.gif" onError="flagFallBack(this)"/>{{/language}}
                                        {{/literal}}
                                        {{#bnode}}...{{/bnode}}
                                        {{/obj}}
                                    </td>
                                </tr>
                                {{/model}}
                            </table>
                        </div>
                        {{/results}}
                </div>
            </div>
            <div class="row" style="padding-top:50px;">
                <div class="btn-group pull-right">
                    <a href='{{context.getContextPath()}}/list/?offset={{prev}}{{query}}' class='btn btn-default {{has_prev}}'>&lt;&lt;</a>
                    <a href='#' class='btn btn-default'>{{pages}}</a>
                    <a href='{{context.getContextPath()}}/list/?offset={{next}}{{query}}' class='btn btn-default {{has_next}}'>&gt;&gt;</a>
                </div>
            </div>
        </div>
    </body>
</html>
