<html>
<head>
        <title>Search Results</title>
</head>
<body>    
<h1>Search Results</h1>
    <div class="container">
        <div class="row">
            {{^results}}
            No Results
            {{/results}}
            {{#results}}
            <div class="panel panel-default">
                <div class="panel-heading"><a href="{{link}}" class="rdf_link">{{title}}</a></div>
                    <table class="panel-body rdf_embedded_table">
                        {{#model}} {{#triples}}
                        <tr>
                            <td class="rdf_prop">
                                {{#prop}}
                                <a href="{{id}}" class="rdf_link">{{display}}</a>
                                {{/prop}}
                            </td>
                            <td class="rdf_value">
                                {{#obj}}
                                {{#value}}
                                <span property="{{#prop}}{{id}}{{/prop}}" 
                                 {{#language}}xml:lang="{{language}}"{{/language}}
                                 {{#type}}datatype="{{id}}"{{/type}}>
                                  {{display}}
                                </span>
                                {{#language}}
                                <span class="pull-right">
                                    <img src="{{context.getContextPath()}}/assets/flag/{{lang}}.gif" 
                                         onError="flagFallBack(this)"/>
                                </span>
                                {{/language}}
                                {{#type}}
                                <span class="pull-right rdf_datatype">
                                    <a href="{{id}}" 
                                       class="rdf_link">{{display}}</a></span>
                                {{/type}}
                                {{/value}}
                                {{#id}}
                                {{#bnode}}
                                <i>Anonymous Node</i>
                                {{/bnode}}
                                {{^bnode}}
                                <a href="{{id}}" 
                                   property="{{#prop}}{{id}}{{/prop}}" 
                                   class="rdf_link rdf_prop">{{display}}</a>
                                {{/bnode}}
                                {{/id}}
                                {{/obj}}
                            </td>
                        </tr>
                        {{/triples}} {{/model}} 
                    </table>
                </div>
            </div>
            {{/results}}
        <div class="row" style="padding-top:50px;">
            <div class="btn-group pull-right">
                <a href='{{context.getContextPath()}}/search/?offset={{prev}}{{query}}' class='btn btn-default {{has_prev}}'>&lt;&lt;</a>
                <a href='#' class='btn btn-default'>{{pages}}</a>
                <a href='{{context.getContextPath()}}/search/?offset={{next}}{{query}}' class='btn btn-default {{has_next}}'>&gt;&gt;</a>
            </div>
        </div>
    </div>
</body>
</html>
