<html>
<head>
        <title>Search Results</title>
</head>
<body>    
    <div class="container">
        <div class="row">
            <h1>Search Results</h1>
            {{^results}}
            No Results
            {{/results}}
            {{#results}}
            <div class="panel panel-default rdf_embedded_table">
                <div class="panel-heading rdf_embedded_table_heading">
                    <a href="{{link}}" class="rdf_link">{{title}}</a>
                </div>
                <table class="panel-body">
                        {{#model}} 
                    <tr>
                        <td class="rdf_prop">
                                {{#prop}}
                            <a href="{{id}}" class="rdf_link">{{display}}</a>
                                {{/prop}}
                        </td>
                        <td class="rdf_value">
                                {{#obj}}
                                {{#uri}}
                                <a href="{{link}}" class="rdf_link">{{display}}</a>
                                {{/uri}}
                                {{#literal}}
                                {{display}}
                                {{#type}}<a href="{{link}}" class="rdf_type">{{display}}</a>{{/type}}
                                {{#language}}<img class="rdf_lang" src="{{context.getContextPath()}}/assets/flag/{{language}}.gif" onError="flagFallBack(this)"/>{{/language}}
                                {{/literal}}
                                {{#bnode}}...{{/bnode}}
                                {{/obj}}
                        </td>
                    </tr>
                        {{/model}} 
                </table>
            </div>
            {{/results}}
            <div class="row" style="padding-top:50px;">
                <div class="btn-group pull-right">
                    <a href='{{context.getContextPath()}}/search/?offset={{prev}}{{query}}' class='btn btn-default {{has_prev}}'>&lt;&lt;</a>
                    <a href='#' class='btn btn-default'>{{pages}}</a>
                    <a href='{{context.getContextPath()}}/search/?offset={{next}}{{query}}' class='btn btn-default {{has_next}}'>&gt;&gt;</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
