<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <!-- Bootstrap theme -->
    <link href="{{context}}/assets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <!-- JQuery (not required) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .rdf_table {
            background-color: #eee;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .rdf_table_nested {
            background-color: #eee;
        }
        .rdf_prop {
            font-weight: bold;
            width: 180px;
        }
        .rdf_table td {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            font-size: 120%;
        }
        .rdf_table_nested td{
            padding-left: 2px;
        }
        .rdf_table td.rdf_value {
            min-width: 350px;
        }
        .rdf_subheader {
            text-transform: uppercase;
            font-weight: bold;
        }
        .rdf_table_nested tr:hover {
            background-color: #ddd;
        }
        .rdf_table tr:hover {
            background-color: #ddd;
        }
        .rdf_header h1 {
            font-weight: bold;
        }
        .rdf_header {
            border-bottom: 1px solid #eee;
            margin-top: 30px;
            overflow: hidden;
        }
        .rdf_classof {
            font-style: italic;
        }
        .rdf_datatype a {
            font-size: 80%;
            font-style: italic;
            color: #333;
        }
        a.anchor {
            display: block; 
            position: relative; 
            top: -150px; 
            visibility: hidden;
        }
    </style>
    <script>
    function flagFallBack(tag) {
        if(tag.src.indexOf("und.gif", tag.src.length - 7) !== -1) {
            tag.src='{{context}}/assets/flag/und.gif';
            tag.parentNode.appendChild(document.createTextNode('{{lang}}'));
        }
    }
    </script>
    <link rel="shortcut icon" href="{{context}}/favicon.ico" />
</head>
<body style="padding-top:100px;">
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:#eee;border-bottom:1px solid #ccc;height:100px;">
        <div class="container">
            <div class="navbar-header">
                <a href="{{context}}/"><img src="{{context}}/assets/logo_small.png" style="padding-top:10px;padding-bottom:10px;"/></a>
                <span style="font-size:400%;vertical-align:middle;font-weight:bold;padding-left:30px;">{{app_title}}</span>
            </div>
        </div>
    </div>
    <div class="container" style="padding-bottom:100px;">
        <div class="row">
    <!--<div class="alert alert-danger">
        <h3 style="margin-top:5px;">Step 1</h3>
        <p>This is the default basic style for Yuzu, you should adapt this 
        to your site by editing <tt>common/html/page.html</tt>. For more 
        details see README</p>
    </div>-->
    {{#is_test}}
    <div class="alert alert-danger">
        <h3 style="margin-top:5px;">This is a Test Instance</h3>
        <p>The URL used to access this instance does not correspond to the configuration.</p>
    </div>
    {{/is_test}}
            {{{content}}}
        </div>
    </div>

    <div class="navbar" style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <p><a href="{{context}}/dataid">About this resource.</a></p>

                    <p>This site is a 
                    <a href="https://github.com/jmccrae/yuzu">Yuzu</a> instance.</p>
                </div>
                <div class="pull-right">
                    <a href="{{context}}/license">
                        <img src="{{context}}/assets/cc/cc-zero.png" height="30px"/></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
