<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{title}}</title>
    <!-- Bootstrap theme -->
    <link href="{{context}}/assets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css">
    <!-- JQuery (not required) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <style>
        .page-header h1 {
            font-family: 'Nova Square', cursive;
            font-size: 80px;
        }
        .page-header img {
            padding-right:60px;
        }
        .rdf_table {
            background-color: #eee;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .rdf_prop {
            font-weight: bold;
            width: 180px;
        }
        .rdf_table td {
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 10px;
            font-size: 120%;
        }
        .rdf_table td.rdf_value {
            min-width: 350px;
        }
        .rdf_subheader {
            text-transform: uppercase;
            font-weight: bold;
        }
        .rdf_table tr:hover {
            background-color: #ddd;
        }
        .rdf_header h1 {
            font-weight: bold;
        }
        .rdf_header {
            border-bottom: 1px solid #eee;
        }
        .rdf_classof {
            font-style: italic;
        }
        .rdf_datatype a {
            font-size: 80%;
            font-style: italic;
            color: #333;
        }
    </style>
    <link rel="shortcut icon" href="{{context}}/favicon.ico" />
</head>
<body style="padding-top:100px;padding-bottom:100px;">
    <div class="navbar navbar-default navbar-fixed-top" style="background-color:#eee;border-bottom:1px solid #ccc;">
        <div class="container">
            <div class="navbar-header">
                <a href="{{context}}/"><img src="{{context}}/assets/logo_small.png" style="padding-top:10px;padding-bottom:10px;"/></a>
                <span style="font-size:400%;vertical-align:middle;font-weight:bold;padding-left:30px;">{{app_title}}</span>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {{{content}}}
        </div>
    </div>

    <!--<div class="navbar navbar-fixed-bottom" style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-9">
                    <p>LingHub is developed by the <a href="http://john.mccr.ae">John P. McCrae</a></p>
                    <p>The source code for this site is available at <a href="https://github.com/liderproject/linghub">GitHub</a>. This site is a 
                    <a href="https://github.com/jmccrae/yuzu">Yuzu</a> instance.</p>
                </div>
                <div class="pull-right">
                    <a href="http://www.lider-project.eu/"><img src="http://www.lider-project.eu/sites/default/files/logo.jpg" height="50px"/></a>
                </div>
            </div>
        </div>
    </div>-->
</body>
</html>
