<h1 style="word-wrap:break-word;">{{display}}<img src="{{context}}/assets/rdf_w3c_icon.48.gif" height="28px" onclick="toggle_rdf_format_list();" style="float:right;"/></h1>
<ul id="rdf_format_list">
    <li class="rdf_format"><a href="{{uri}}.json">JSON-LD</a></li>
    <li class="rdf_format"><a href="{{uri}}.nt">N-Triples</a></li>
    <li class="rdf_format"><a href="{{uri}}.ttl">Turtle</a></li>
    <li class="rdf_format"><a href="{{uri}}.rdf">RDF/XML</a></li>
</ul>
{{#classOf}}
    <h5>Instance of: <a href="{{uri}}">{{display}}</a></h5>
{{/classOf}}
<table class="rdf rdf_main table table-hover" resource="">
    <tr>
        <th>Property</th>
        <th>Value</th>
    </tr>
    {{#triples}}
        {{^has_triples}}
            {{> triple}}
        {{/has_triples}}
    {{/triples}}
</table>

{{#triples}}
    {{#has_triples}}
        {{#prop}}
            <h3><a href="{{uri}}">{{display}}</a></h3>
        {{/prop}}
            {{#obj}}
        <table class="rdf rdf_main table table-hover" resource="{{uri}}">
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
                {{#elem}}
                    {{#triples}}
                        {{> triple}}
                    {{/triples}}
                {{/elem}}
        </table>
            {{/obj}}
    {{/has_triples}}
{{/triples}}
            
