<tr>
    <td>
        {{#prop}}
            <a href="{{uri}}">{{display}}</a>
        {{/prop}}
    </td>
    <td>
        {{#obj}}
            {{#has_triples}}
                <span property="{{#prop}}{{uri}}{{/prop}}">
                <table class="rdf table table-hover" resource="{{uri}}">
                {{#triples}}
                    {{> triple}}
                {{/triples}}
                </table>
                </span>
            {{/has_triples}}
            {{^has_triples}}
                {{#literal}}
                    <span property="{{#prop}}{{uri}}{{/prop}}">{{display}}</span>
                    {{#lang}}
                        <span class="pull-right"><img src="/assets/flag/{{lang}}.gif"/></span>
                    {{/lang}}
                    {{#datatype}}
                        <span class="pull-right disabled"><a href="{{uri}}">{{display}}</a></span>
                    {{/datatype}}
                {{/literal}}
                {{^literal}}
                    {{#bnode}}
                        <i>Anonymous Node</i>
                    {{/bnode}}
                    {{^bnode}}
                        <a href="{{uri}}" property="{{#prop}}{{uri}}{{/prop}}">{{display}}</a>
                    {{/bnode}}
                {{/literal}}
            {{/has_triples}}
        {{/obj}}
        </span>
    </td>
</tr>
